body {
  margin: 0;
  background: #646464;
  color: #ececec;
  text-align: center;
  font-size: 16px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main-wrapper{
flex: 1;

}
     a {
       text-decoration: none;
       color: #272727;
     }
     a:visited {
       text-decoration: none;
      
     }
     a:hover {
       text-decoration: none;
     }
     a:focus {
       text-decoration: none;
     }
     a:hover,
     a:active {
       text-decoration: none;
        color: tomato;
     }
.header{
 color: #272727;
 background-color: aliceblue; 
 display: flex;
 justify-content: space-between;font-size: 16px;font-size: 16px;
 align-items: center;
 padding: 10px 3% 10px 3%;
 margin-bottom: 59px;
 
}
.header-left {
  display: flex;
}

.header-right a {
  margin-right: 10px;

}
.footer {
  background-color: rgba(241, 241, 241, 0.473);
  color: #e9e9e9;
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0;
}
.title{
  color:rgb(243, 68, 61);
  margin: 0 ;
  margin-right: 10px;

}
.title-sub{
  margin: 0;
  font-size: 14px;
  color: #27ae60;
  font-weight: 800;
}
.food{
  margin: 25px auto;
  width: 200px;
  background: rgb(255, 255, 255);
  color: #272727;
  border-radius: 10px;
  padding: 10px;
  
}

.food img{
  width: 100%;
}

.cart-item{
    padding: 10px;
      display: flex;
      justify-content: space-around;
      border-bottom: 1px solid grey;
      line-height: 0px;
}

